six==1.16.0
South==1.0.2
spotipy==2.20.0
certifi==2022.6.15
multicolorcaptcha
firebase-admin
numpy
pillow
easy_pil
asyncio
ffmpeg
wikipedia-api
schedule
requests
dnspython
python.env
pytube==15.0.0
datetime
psutil
pip
colorlog
PyNaCl
async-timeout
emoji
psycopg2-binary
flask
speedtest-cli
porter2stemmer
voice
python-dateutil
google
python-dotenv
gunicorn
heroku3
yt-dlp
git+https://github.com/Pycord-Development/pycord
